<%= simple_form_for @tool do |form| %>
  <div class="form-inputs">
    <%= form.input :title %>
    <%= form.input :price %>
    <%= form.input :description, as: :text %>
    <%= form.input :address,
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
    %>
  </div>

  <div class="form-actions">
      <%= form.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
