
<% @tools.each do |tool| %>
  <div class="card-product">
    <div class="card-product-infos">
    <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill %>
      <h2> <%= tool.title %> </h2> <p> by <%= tool.user.first_name %>
      <p> <span> <%= tool.price %> </span></p>
      <br>
      <p> <%= tool.description %> </p>
    </div>
  </div>
<% end %>
