<h1><%= @tool.title %></h1>
<p><strong>Price:</strong> <%= @tool.price %></p>
<p><strong>Description:</strong> <%= @tool.description %></p>


<%= link_to 'Delete Tool', tool_path(@tool), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_tool_path(@tool) %>
<%= link_to 'Back', tools_path %>

<%= link_to 'Book this Tool', new_tool_booking_path(@tool) %>

