<h1><%= @tool.title %></h1>
<p><strong>Price: </strong><%= number_to_currency(tool.price, unit: '€', format: "%n%u", precision: 2) %></p>
<p><strong>Description:</strong> <%= @tool.description %></p>
<%= cl_image_tag @tool.photo.key, height: 300, width: 400, crop: :fill %>


<%= link_to 'Delete', tool_path(@tool), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_tool_path(@tool) %>

<%= link_to 'Book this Tool', new_tool_booking_path(@tool) %>

<%= link_to 'Back', tools_path %>
