<h1>Edit your bookings</h1>
<p>submit your form for the changes to be saved</p>

<%= simple_form_for [@tool, @booking] do |form| %>
  <div class="field">
    <%= form.label :starting_date %>
    <%= form.date_field :starting_date %>
  </div>

  <div class="field">
    <%= form.label :ending_date %>
    <%= form.date_field :ending_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
