<h1>New booking</h1>

<%= simple_form_for [@tool, @booking] do |form| %>
  <div class="field">
    <%= form.label :starting_date %>
    <%= form.date_field :starting_date %>
  </div>

  <div class="field">
    <%= form.label :ending_date %>
    <%= form.date_field :ending_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
