<div class="bg_new">
  <main class="container mt-5" style="margin-top: 16px;">
    <div class="d-flex justify-content-center mb-4">
      <h1>Welcome <%= @user.first_name %>!</h1>
    </div>
  <div data-controller="adding-button-for-profile-picture">
  <button data-action="click->adding-button-for-profile-picture#openModal" class="btn btn-outline-dark" style="transition: background-color 0.3s, border-color 0.3s;">Edit picture</button>
  <div data-adding-button-for-profile-picture-target="modal" id="change_avatar" class="btn d-none", style="background-color: black; color: white;> <%= render "form_picture" %></div>
  </div>
  <br>
  <h3>Booked tools:</h3>
  <tbody class="border-bottom-1">
    <% @bookings.each do |booking| %>
      <div class="card" style="width: 15rem; height: auto;">



        <%= cl_image_tag booking.tool.photo.key,  crop: :fill %>

        <div class="marks">
        <% if (booking.status == 'accepted') %>
          <i class="fa-solid fa-circle-check"></i>
        <% elsif (booking.status == 'pending') %>
          <i class="fa-solid fa-circle-question"></i>
        <% else (booking.status == 'declined') %>
          <i class="fa-solid fa-circle-xmark"></i>
        <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= booking.tool.title %></h5>
          <p class="card-text">By: <%= booking.tool.user.first_name %> <%= booking.tool.user.last_name %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: <%= booking.tool.address %></li>
          <li class="list-group-item">From: <%= booking.starting_date.strftime("%d/%m/%Y") %></li>
          <li class="list-group-item">To: <%= booking.ending_date.strftime("%d/%m/%Y") %></li>
        </ul>
        <div class="card-body">
          <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-outline-primary btn-sm" %>
          <%= link_to 'Delete', booking_path(booking), class: "btn btn-outline-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </tbody>


  <br>
  <h3>Tools posted:</h3>

  <tbody>
    <% @tools.each do |tool| %>
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= tool.title %></h5>
              <p class="card-text">Booking requests:</p>
              <% tool.bookings.where(status: 'pending').each do |booking| %>
              <p> <%= booking.user.first_name %> would like to use it</p>
              <%= link_to 'Accept', accept_booking_path(booking), class: "btn btn-outline-primary btn-sm", data: {turbo_method: :post, turbo_confirm: "Are you sure?"} %>
              <%= link_to 'Decline', decline_booking_path(booking), class: "btn btn-outline-danger btn-sm", data: {turbo_method: :post, turbo_confirm: "Are you sure?"} %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
  </main>
</div>
