<div class="banner">
  <div class="banner-text">
    <h1><strong>Welcome to ToolBnB</strong></h1>
    <p>Find the perfect tool for your needs!</p>
  </div>
  <%= link_to "Browse tools", tools_path, class:"btn41-43 btn-43"%>
</div>
<div class="container-random">
    <div class="tools-container">
      <% @tools.each do |tool| %>
        <div class="tool">
          <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill %>
          <h2><%= tool.title %></h2>
          <p><%= tool.price %></p>
          <p><%= tool.description %></p>
          <%= link_to 'Go to Tool Page', tool_path(tool), class: 'button-primary' %>
        </div>
        <% end %>
    </div>
</div>
<div id="about-us" class="container">
  <h2>About Us</h2>
  <p>Welcome to Toolbnb, your go-to destination for all your tool rental needs.
  Just like finding the perfect accommodation on Airbnb, we're here to make the process
  of renting tools simple, convenient, and efficient.
  At Toolbnb, we believe in empowering individuals and
  businesses by providing access to a vast array of high-quality tools for various purposes.</p>
  <a href="#" class="btn">See More</a>
</div>
